/********************
YOUR STYLES
*******************/

body {
    font-family: 'Comfortaa', cursive;
    
    background: #c2c2c2;
}
header {
    font-size: 6vw;
    display: flex;
    justify-content: center;
    background: #f3f3f3;
}

figure {
    display: inline-flex;
    flex-wrap:wrap;
    flex-flow:column;
    margin: 2px;
          
}

.caption {
  display: none;
    font-size: 1vw;
}

/********************
MEDIA QUERIES
*******************/
/* Mobile: 320px = 20em */
@media screen and (min-width: 20em) { 

figure {
    width:100%;
        
    }
img {
    width: 100%;
    height:auto;
    
}
    main {
        display:flex;
        flex-wrap: wrap;
    
}
  
}

/* Tablet:  768px = 160em */
@media screen and (min-width: 40em)  {

    .gallery {
        display: flex;
        justify-content: center;
        
    }
    figure {
        width: 75%;
        display: flex;
    }
    
    img {
        width: 100%;
        height:auto;
    
}
    

    
}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 70em) { 
  
    
    .gallery {
        display: flex;
        width: 100%;
        
}
    
    figure {
        width: 100%;
        display: flex;
        flex-flow: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    
    
    header {
        font-size: 3vh;
    }
    
}